/* hier kommt eine reset Css-Datein rein :) oder so*/

:root {
  --color-blue: #26577c;
  --color-orange: #e55604;
  --color-grey: #b4b4b3;
  --color-beige: #ebe4d1;
  --font-heading: Limelight;
  --font-nav: Poppins;
  --font-size-heading: 96px;
  --font-size-nav: 32px;
}

* {
  background-color: var(--color-beige);
}

.basic-button {
  font-size: 24px;
  padding: 1rem;
  border-radius: 25px;
  background-color: var(--color-orange);
  margin: 0 22rem;
  cursor: pointer;
  border: none;
  color: var(--color-beige);
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
